<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PTFLocalDB" value="Data Source=192.168.58.57; Initial Catalog=PTFLocal; User ID=sa; Password=sa;"/>
    <add key="CentralServerUrl" value="http://localhost/ReceivingService/ReceivingWebService.asmx"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
