<div id="footer" style="color: black; width: 945px; height: 10px; background-color: rgb(255, 128, 64);">
    <div style="float: right; width: 400px; display: inline;">
        All Rights Reserved. Premier TaxFree Ⓒ1985-2012 </div>
</div>
