<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RetryTimeout" value="00:00:05" />
    <add key="SendEmailsAt" value="17:00:00" />
    <add key="RUNFORDAYSBACK" value="30"/>
    <add key="BT_InParsed" value="C:\test" />
    <add key="RUNFORDAYSBACK" value="120"/>
    <add key="EXCHANGESERVER" value="mailrelay.fintrax.com " />
    <add key="EXCHANGESERVER_DOMAIN" value="fintrax" />
    <add key="EXCHANGESERVER_USER" value="trsadmin" />
    <add key="EXCHANGESERVER_PASS" value="In-ert56uat" />
    <add key="EXCHANGESERVER_FROM" value="trsadmin@fintrax.com" />
    <add key="START_SERVICES" value="EmailWorker,"/>
  </appSettings>
  <connectionStrings>
    <add name="TransferDbEntities" connectionString="metadata=res://*/TransferDbModel.csdl|res://*/TransferDbModel.ssdl|res://*/TransferDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.58.27;initial catalog=TransferDb;persist security info=True;........;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>