<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=PTF-UK-D036\SQLEXPRESS; ....; Database=PTF.Reports;" />
    <add key="RemoteFileName" value="\\192.168.44.61\Rosen\PTF.Reports.bak" />
    <add key="StartJobRemoteFileName" value="\\192.168.57.105\SqlBackup\Job\StartJob\StartPTF_Reports.txt" />
    <add key="LocalFileName" value="c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\Backup\PTF.Reports.bak" />
    <add key="ConnectionTimeoutHours" value="3" />
    <add key="IndexDatabaseName" value="PTF_Reports" />
    <add key="IndexTables" value="ISO-iso_number;Brach-br_iso_id,br_id,br_ho_id;HeadOffice-ho_iso_id,ho_id" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>