@{
    ViewBag.Title = "TRS Images";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to TRS new site.
                <a href="#" title="TRS Images MVC Website">TRS Images MVC Website</a>.
                The site contains <mark>images of scanned vouchers</mark> to help you get more information about voucher store.
                If you have any questions about it please ask visit TRS Support Team Help Site.
                <a href="#" title="TRS Support Team Help Site">TRS Support Team Help Site</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Please log in by using your TRS user credentials (user name and password).
        <a href="#">Learn more…</a>
    </li>

    <li class="two">
        <h5>Search for Images</h5>
        Go to search page, specify search craterous country id, retailer id, voucher id, date scanned and so on.
        Examine provided images.
        <a href="#">Learn more…</a>
    </li>

    <li class="three">
        <h5>Download an image</h5>
        You are also able to download voucher image by clicking 'Download' button.
        Please note in order to do that you should be authorized.
        For any more details please issue The Support Team or ask Ravi Bandaru.
        <a href="#">Learn more…</a>
    </li>
</ol>
