USE [master]
GO
/****** Object:  Database [PTFLocal]    Script Date: 11/10/2011 11:16:29 ******/
CREATE DATABASE [PTFLocal] ON  PRIMARY 
( NAME = N'PTFLocal', FILENAME = N'{0}\PTFLocal.mdf' , SIZE = 57344KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PTFLocal_log', FILENAME = N'{0}\PTFLocal_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
USE [PTFLocal]
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 01/26/2012 10:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](1024) NOT NULL,
	[Source] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[StackTrace] [nvarchar](max) NULL,
	[DateInserted] [datetime] NOT NULL,
	[DateExported] [datetime] NULL,
 CONSTRAINT [PK__MESSAGES__C87C037C07020F21] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILES]    Script Date: 01/26/2012 10:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILES](
	[FileID] [int] NOT NULL,
	[BarCode] [nvarchar](100) NULL,
	[FileName] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NULL,
	[DateInserted] [datetime] NULL,
	[DateExported] [datetime] NULL,
	[DateAllocated] [datetime] NOT NULL,
 CONSTRAINT [PK__FILES__6F0F989F03317E3D] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIG]    Script Date: 01/26/2012 10:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Value] [varbinary](max) NULL,
 CONSTRAINT [PK__CONFIG__C3BC333C07020F21] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

