<script type="text/javascript">

    ///https://github.com/blueimp/jQuery-Image-Gallery
    //    $('#gallery').imagegallery();

    //    $('#gallery').imagegallery('option', 'fullscreen', true);

    //    $('#gallery').imagegallery('option', {
    //        show: 'slide',
    //        hide: 'slide'
    //    });

    //    $('#gallery').imagegallery('disable');

    //    $('#gallery').imagegallery('enable');

    //    $('#gallery').imagegallery('destroy');


    $('#gallery').imagegallery({
        // selector given to jQuery's delegate method:
        selector: 'a[data-gallery="gallery"]',
        // event handler namespace:
        namespace: 'imagegallery',
        // Shows the next image after the given time in ms (0 = disabled):
        slideshow: 0,
        // Offset of image width to viewport width:
        offsetWidth: 100,
        // Offset of image height to viewport height:
        offsetHeight: 100,
        // Display images fullscreen (overrides offsets):
        fullscreen: false,
        // Display images as canvas elements:
        canvas: false,
        // body class added on dialog display:
        bodyClass: 'gallery-body',
        // element id of the loading animation:
        loaderId: 'gallery-loader',
        // list of available dialog effects,
        // used when show/hide is set to "random":
        effects: [
        'blind',
        'clip',
        'drop',
        'explode',
        'fade',
        'fold',
        'puff',
        'slide',
        'scale'
    ],
        // The following are jQuery UI dialog options, see
        // http://jqueryui.com/demos/dialog/#options
        // for additional options and documentation:
        modal: true,
        resizable: false,
        width: 'auto',
        height: 'auto',
        show: 'fade',
        hide: 'fade',
        dialogClass: 'gallery-dialog'
    });

</script>
<div id="gallery">
    <a data-gallery="gallery" href="http://farm4.static.flickr.com/3675/9648228570_8b1aa24134_b.jpg"
        title="Water fun?">
        <img src="http://farm4.static.flickr.com/3675/9648228570_8b1aa24134_s.jpg">
    </a><a data-gallery="gallery" href="http://farm3.static.flickr.com/2881/9645278791_d9f98f56eb_b.jpg"
        title="Java Highland">
        <img src="http://farm3.static.flickr.com/2881/9645278791_d9f98f56eb_s.jpg">
    </a><a data-gallery="gallery" href="http://farm8.static.flickr.com/7408/9645096807_9f6c1d9806_b.jpg"
        title="boba fett (alternative)">
        <img src="http://farm8.static.flickr.com/7408/9645096807_9f6c1d9806_s.jpg">
    </a><a data-gallery="gallery" href="http://farm4.static.flickr.com/3805/9644335386_fed7585254_b.jpg"
        title="Give Me Biscuits">
        <img src="http://farm4.static.flickr.com/3805/9644335386_fed7585254_s.jpg">
    </a>
</div>
