<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PTF.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ReportServerUrl" value="http://192.168.53.118/ReportServer" />
    <add key="ReportServerServiceUrl" value="http://192.168.53.118/ReportServer/ReportService2005.asmx" />
    <add key="ReportServerAnonimousLoging" value="false" />
    <add key="ReportServerUserName" value="" />
    <add key="ReportServerUserPass" value="" />
    <add key="ReportServerDomainName" value="" />
    <add key="MAX_LOGIN_TRIES" value ="3" />
    <add key="SSLPORT" value="443" />
    <add key="PAGESIZE" value="15" />
    <add key="AUTOCOMPCOUNT" value="20" />
    <add key="DefaultPassLength" value="6" />
    <add key="PassExpireHours" value="24" />
    <add key="EXCHANGESERVER" value="iemail.888.com"/>
    <add key="EXCHANGESERVER_DOMAIN" value=""/>
    <add key="EXCHANGESERVER_USER" value=""/>
    <add key="EXCHANGESERVER_PASS" value=""/>
    <add key="EXCHANGESERVER_FROM" value="support@888.com"/>
    <add key="SERVERUNBLOCKURL" value="http://localhost:2479/Administration/UnblockMe?command="/>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="PTFReportsContext"
         connectionString="metadata=res://*/PTFReportsDB.PTFReportModel.csdl|res://*/PTFReportsDB.PTFReportModel.ssdl|res://*/PTFReportsDB.PTFReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=PTF.Reports;...;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
    <add name="PTFContext"
         connectionString="metadata=res://*/PTFDB.PTFModel.csdl|res://*/PTFDB.PTFModel.ssdl|res://*/PTFDB.PTFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.57.105;Initial Catalog=PTF_Reports;....;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="5"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="PTF.Reports" />
        <add namespace="MVCControlsToolkit.Core" />
        <add namespace="MVCControlsToolkit.Controls" />
        <add namespace="MVCControlsToolkit.Controls.Validation" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" requireSSL="false" />
    </authentication>
    <sessionState mode="InProc" timeout="20" compressionEnabled="true"></sessionState>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PTF.Reports.Properties.Settings>
      <setting name="PTFReports_TRSReportingService_ReportingService2005" serializeAs="String">
        <value>http://192.168.53.118/ReportServer/ReportService2005.asmx</value>
      </setting>
    </PTF.Reports.Properties.Settings>
  </applicationSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Logs\\PTFReports.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

</configuration>