<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UPLOADFOLDER" value="c:\UPLOAD" />
    <add key="VOUCHERSFOLDER" value="c:\VOUCHERS" />
    <add key="VOCUHERSEXPORTFOLDER" value="c:\VOUCHERSEXPORT" />
    <add key="UPLOADERRORS" value="c:\UPLOADERRORS" />
    <add key="VERSIONFOLDER" value="C:\ReceivingService\VERSION"/>
    
    <add key="pfxFileFullPath" value="C:\PROJECTS\VPrint2\ReceivingServiceLib.Common\PTF.pfx"/>
    <add key="PTFLogoFileFullPath" value="C:\PROJECTS\VPrint2\ReceivingServiceLib.Common\Resources\PTFLogo.jpg"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <connectionStrings>
    <add name="PTF_ImagesDB" connectionString="data source=192.168.58.57;initial catalog=ptf_images;persist security info=False;..." providerName="System.Data.SqlClient" />
    <add name="PTF_DB" connectionString="data source=192.168.57.16;initial catalog=TransferDb;Integrated Security=false;..." providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\ReceivingServiceLib.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
 
  <system.serviceModel>

    <services>
      <service name="ReceivingServiceLib.ScanService">
        <endpoint address=""
                  binding="netTcpBinding"
                  listenUri =""
                  contract="ReceivingServiceLib.IScanService" />
        
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/ReceivingServiceLib.ScanService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>