<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PTFReportsContext" connectionString="metadata=res://*/PTFReportsDB.PTFReportModel.csdl|res://*/PTFReportsDB.PTFReportModel.ssdl|res://*/PTFReportsDB.PTFReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=PTF.Reports;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PTFContext" connectionString="metadata=res://*/PTFDB.PTFModel.csdl|res://*/PTFDB.PTFModel.ssdl|res://*/PTFDB.PTFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=PTF_Reports;Persist Security Info=True;...;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>