<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="IProductService">
        <endpoint address="net.pipe://localhost/ProductService"
        binding="netNamedPipeBinding"
        contract="WCFNamedPipesExample.Services.IProductService"
        name="ProductServiceEndpoint" />
      </service>
    </services>
  </system.serviceModel>
</configuration>